<!DOCTYPE html>
<html>
  <head>
    <title>System statistics</title>
    <script src="plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="container">
      <div id="cpuGauge"></div>
      <div id="eventPlot"></div>
      <div id="memGauge"></div>
    </div>
    <div id="container">
      <div id="cpuPlot"></div>
    </div>
    <div id="container">
      <div id="memPlot"></div>
    </div>
    <div id="container">
      <div id="ioPlot"></div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
